@import "variables.scss";

body{
    background: $light;
    font-family: $fontMain;
}

nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0%;
    margin: 0%;
    background: $green;
  }

  nav a{
    padding: 24px;
    text-decoration: none;
    color: $yellow;
    background: $dark;
    margin-left: 1em;
    margin-right: 1em;
  }

  ul {
      li {
          ul {
              flex-direction: row;
          }
      }
  }

  h2{
      text-align: center;
  }

