@import "variables.scss";

body{
    background: $light;
    font-family: $fontMain;
}

nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0%;
    margin: 0%;
    background: $green;
  }

  nav a{
    padding: 24px;
    width:15%;
    text-decoration: none;
    color: $yellow;
    background: $dark;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
  }

  h1{
      text-align: center;
      background: $yellow;
      margin:0;
      padding: 18px;
      border: 5px solid black;
  }

  #site-content-butter{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;
      li{
        width: 50%;
        min-width: 400px;
        margin-bottom: 100px;
        font-size: 20pt;
      }
      
  }

  #about{
    font-size: 16pt;
    background-color: $yellow;
    // color: $dark;
    margin: 15%;
    padding: 3%;
    border-style: solid;
    border: 2%;
    border-color: $green;
  }


