@import "variables.scss";

body{
    background: $light;
    font-family: $fontMain;
}

nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0%;
    margin: 0%;
    background: $green;
  }

  nav a{
    padding: 24px;
    width:15%;
    text-decoration: none;
    color: $yellow;
    background: $dark;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
  }

  h1{
      text-align: center;
      background: $yellow;
      margin:0;
      padding: 18px;
      border: 5px solid black;
  }

  #site-content-butter{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;
      li{
        width: 50%;
        min-width: 400px;
        margin-bottom: 100px;
        font-size: 20pt;
      }
      
  }

  #about{
    font-size: 16pt;
    background-color: $yellow;
    // color: $dark;
    margin: 15%;
    padding: 3%;
    border-style: solid;
    border: 2%;
    border-color: $green;
  }

  #contactForm{
    text-align: center;
    transform: scale(2) translate(0,30%);
  }

  #submitBt{
    font-family: $fontMain;
    background-color: #a5c9c0;
    padding-left: 10px;
    padding-right: 10px;
  }

  input, textarea{
    border: 1px solid #abb3b1;
  }

  #flaver-spot{
    transform: scale(.75);
    display: flex;
    margin: 10%;
    font-size: 20pt;
    flex-direction: row;
    align-items: center;
    background-color: $yellow;
    text-decoration: none;
    color: black;
    text-align: center;
    
    #home-butter-text{
      flex: 1.5;
    }
    div{
      flex: 1;
      padding: 20px;
      p{
        font-size: 15pt;
      }
    }
  }

  #home-about{
    transform: scale(.75);
    text-decoration: none;
    font-size: 20pt;
    p{
      transform: scale(.75);
      margin: 10%;
      padding: 20px;
      background-color: $yellow;
      color: black;
      text-align: center;
    }
  }

  #home-contact{
    transform: scale(.75);
    text-decoration: none;
    font-size: 20pt;
    p{
      transform: scale(.75);
      margin: 10%;
      padding: 20px;
      background-color: $yellow;
      color: black;
      text-align: center;
    }
  }

  #home-review{
    transform: scale(.75);
    text-decoration: none;
    font-size: 20pt;
    p{
      transform: scale(.75);
      margin: 10%;
      padding: 20px;
      background-color: $yellow;
      color: black;
      text-align: center;
    }
    
  }